@model ML.Usuario
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">

                <h2>Usuario</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <hr />
            </div>
        </div>

        <div class="row">
            @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="d-none col-md-3">

                        @Html.LabelFor(model => model.IdUsuario, new { @class = "hidden" })

                        @Html.TextBoxFor(model => model.IdUsuario, new { @class = "hidden form-control" })

                        @Html.ValidationMessageFor(model => model.IdUsuario)



                        @*hidden*@

                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Nombre)
                        @Html.Label("", null, new {@id = "lblNombre"})

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-person"></i></span>

                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control",@id = "txtNombre",@onkeypress ="SoloLetras(event, 'lblNombre')" })

                            @Html.ValidationMessageFor(model => model.Nombre)

                            

                        </div>
                        
                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.ApellidoPaterno)
                         @Html.Label("", null, new {@id = "lblApellidopaterno"})

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-person"></i></span>

                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id="txtApellidoPaterno",@onkeypress ="SoloLetras(event, 'lblApellidopaterno')" })

                            @Html.ValidationMessageFor(model => model.ApellidoPaterno)

                           

                        </div>

                    </div>

                    <div class="bi bi-person col-md-3">

                        @Html.LabelFor(model => model.ApellidoMaterno)

                            @Html.Label("", null, new {@id = "lblApellidoMaterno"})


                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-person"></i></span>

                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id="txtApellidoMaterno",@onkeypress ="SoloLetras('lblApellidoMaterno')"})

                            @Html.ValidationMessageFor(model => model.ApellidoMaterno)

                            

                        </div>
                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.UserName)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>

                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id="txtUsername"})

                            @Html.ValidationMessageFor(model => model.UserName)

                            @Html.Label("", null, new {@id = "lblUsername"})

                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Email)

                        @Html.Label("", null, new {@id = "lblEmail"})

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>

                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id="txtEmail", @onkeyup ="Correo2(this,'lblEmail')"})

                            @Html.ValidationMessageFor(model => model.Email)

                            

                        </div>
                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Password)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>

                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id="txtPassword" })

                            @Html.ValidationMessageFor(model => model.Password)

                            @Html.Label("", null, new {@id = "lblPassword"})

                        </div>
                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.FechaNacimiento)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-calendar-date-fill"></i></span>

                            @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @id="txtFechaNacimiento" })

                            @Html.ValidationMessageFor(model => model.FechaNacimiento)

                            @Html.Label("", null, new {@id = "lblFechaNacimiento"})
                        </div>

                    </div>



                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Sexo) <br />

                        <label> @Html.RadioButtonFor(model => model.Sexo, "H") Hombre</label><br />
                        <label>@Html.RadioButtonFor(model => model.Sexo, "M") Mujer </label>
                        @*@Html.TextBoxFor(model => model.Sexo, new { @class = "form-control", @id="txtSexo"})*@

                        @Html.ValidationMessageFor(model => model.Sexo)

                    </div>

                </div>

                <div class="row">
                </div>

                <div class="row">

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Telefono)
                        @Html.Label("", null, new {@id = "lblTelefono"})
                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>

                            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @id="txtTelefono",@onkeypress ="SoloNumero(event, 'lblTelefono')"})

                            @Html.ValidationMessageFor(model => model.Telefono)

                            

                        </div>

                    </div>


                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Celuar)
                        @Html.Label("", null, new {@id = "lblCelular"})

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-phone-fill"></i></span>

                            @Html.TextBoxFor(model => model.Celuar, new { @class = "form-control", @id="txtCelular",@onkeypress ="SoloNumero(event, 'lblCelular')"})

                            @Html.ValidationMessageFor(model => model.Celuar)

                            
                        </div>
                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Curp)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-phone-fill"></i></span>

                            @Html.TextBoxFor(model => model.Curp, new { @class = "form-control", @id="txtCurp",})

                            @Html.ValidationMessageFor(model => model.Curp)

                            @Html.Label("", null, new {@id = "lblCurp"})

                        </div>

                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Rol)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>

                            @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.RolList, "IdRol", "Nombre"), "Selecciona una opcion", new { @class = "form-control", @id = "ddlRol" })

                            @Html.ValidationMessageFor(model => model.Rol.IdRol)


                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-3">

                        @Html.LabelFor(model=> model.Imagen)

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-card-image"></i></span>
                            <input id="IFImage" type='file' class="form-control" name="IFImage" onchange="validateFile(this), readURL(this);  " />
                        </div>

                        @if (Model.Imagen != null)
                        {

                            <img id="Img" src="data:image/*;base64,@Model.Imagen" style="width:250px ; height:250px" />

                        }
                        else
                        {
                            <img id="Img" src="~/Imagenes/SinUsuario.png" style="width:250px ; height:250px" />
                        }

                        @Html.HiddenFor(model => model.Imagen)
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Direccion.Calle)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>

                            @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control", @id="txtCalle" })

                            @Html.ValidationMessageFor(model => model.Direccion.Calle)

                            @Html.Label("", null, new {@id = "lblCalle"})
                        </div>
                    </div>

                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Direccion.NumeroInterior)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>

                            @Html.TextBoxFor(model => model.Direccion.NumeroInterior, new { @class = "form-control", @id="txtNumeroInterior"})

                            @Html.ValidationMessageFor(model => model.Direccion.NumeroInterior)

                            @Html.Label("", null, new {@id = "lblNumeroInterior"})
                        </div>
                    </div>


                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Direccion.NumeroExterior)

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>

                            @Html.TextBoxFor(model => model.Direccion.NumeroExterior, new { @class = "form-control", @id="txtNumeroExterior"})

                            @Html.ValidationMessageFor(model => model.Direccion.NumeroExterior)

                            @Html.Label("", null, new {@id = "lblNumeroExterior"})

                        </div>
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.Paises, new { @class = "control-label" })

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>

                            @if (Model.Direccion.Colonia.Municipio.Estado.Pais.Paises == null)
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Pais", htmlAttributes: new { id = "ddlPais", @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Pais.Paises, "IdPais", "Nombre"), "Selecciona un país", htmlAttributes: new { id = "ddlPais", @class = "form-control" })
                            }
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">

                        @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Estado.Estados, new { @class = "control-label"})

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>

                            @if (Model.Direccion.Colonia.Municipio.Estado.Estados == null)
                            {

                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Estado", htmlAttributes: new { id = "ddlEstado", @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Estados, "IdEstado", "Nombre"), "Selecciona un Estado", htmlAttributes: new { id = "ddlEstado", @class = "form-control" })
                            }


                            @Html.ValidationMessageFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, null, new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Municipios, new { @class = "control-label" })

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>

                            @if (Model.Direccion.Colonia.Municipio.Municipios == null)
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Municipio", htmlAttributes: new { id = "ddlMunicipio", @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(Model.Direccion.Colonia.Municipio.Municipios, "IdMunicipio", "Nombre"), "Selecciona un municipio", htmlAttributes: new { id = "ddlMunicipio", @class = "form-control" })
                            }

                            @Html.ValidationMessageFor(model => model.Direccion.Colonia.Municipio.IdMunicipio, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Direccion.Colonia.Colonias, new { @class = "control-label" })

                        <div class="input-group mb-3">

                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>

                            @if (Model.Direccion.Colonia.Colonias == null)
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.IdColonia, new SelectList(string.Empty, "Value", "Text"), "Selecciona una colonia", htmlAttributes: new { id = "ddlColonia", @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.IdColonia, new SelectList(Model.Direccion.Colonia.Colonias, "IdColonia", "Nombre"), "Selecciona una colonia", htmlAttributes: new { id = "ddlColonia", @class = "form-control" })
                            }
                            @Html.ValidationMessageFor(model => model.Direccion.Colonia.IdColonia, null, new { @class = "text-danger" })
                        </div>
                    </div>

                </div>



                <div class="form-group">

                    <div class="col-md-3">

                        <input type="submit" value="Guardar" class="btn btn-success" />

                        @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })

                    </div>

                </div>

            }

        </div>

    </div>

</div>

@section Scripts
{


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


<script type="text/javascript">
      $( function() {
              $("#txtFechaNacimiento").datepicker({
        changeMonth: true,
        changeYear: true
      });
    } );
</script>

<script type="text/javascript">
        $(document).ready(function () {
        $("#ddlPais").change(function () {
            $("#ddlEstado").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEstado")',
                dataType: 'json',
                data: { IdPais: $("#ddlPais").val() },
                success: function (estados) {
                    $("#ddlEstado").append('<option value="0">'+ 'Seleccione una opción' + '</option>');
                    $.each(estados, function (i, estados) {
                        $("#ddlEstado").append('<option value="'
                                                   + estados.idEstado + '">'
                                                   + estados.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });
    });
</script>
<script type="text/javascript">
        $(document).ready(function () {
        $("#ddlEstado").change(function () {
            $("#ddlMunicipio").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMunicipio")',
                dataType: 'json',
                data: { IdEstado: $("#ddlEstado").val() },
                success: function (municipios) {
                    $("#ddlMunicipio").append('<option value="0">'+ 'Seleccione una opción' + '</option>');
                    $.each(municipios, function (i, municipios) {
                        $("#ddlMunicipio").append('<option value="'
                                                   + municipios.idMunicipio+ '">'
                                                   + municipios.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });
    });
</script>
<script type="text/javascript">
        $(document).ready(function () {
        $("#ddlMunicipio").change(function () {
            $("#ddlColonia").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetColonia")',
                dataType: 'json',
                data: { IdMunicipio: $("#ddlMunicipio").val() },
                success: function (colonias) {
                    $("#ddlColonia").append('<option value="0">'+ 'Seleccione una opción' + '</option>');
                    $.each(colonias, function (i, colonias) {
                        $("#ddlColonia").append('<option value="'
                            + colonias.idColonia + '">'
                            + colonias.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    function SoloLetras(e, controlId) {
           var caracter = e.key;
           if (!/^[a-zA-Z\s]*$/.test(caracter)) 
           {
               $('#' + controlId).text("Solo se aceptan letras");
               $('#' + controlId).css({ "color": "red" });
               return false;
           }
           else 
           {
               $('#' + controlId).text("");
               return true;
           }
            }
</script>
<script type="text/javascript">
    function SoloNumero(e, controlId) {
           var caracter = e.keyz;

           if (!/^[0-9]+$/.test(caracter)) 
           {
               $('#' + controlId).text("Solo se acepta numeros");
               $('#' + controlId).css({ "color": "red" });
               return false;
           }
           else 
           {
               $('#' + controlId).text("");
               return true;
           }
            }
</script>

<script type="text/javascript">
    function Correo(e, controlId) {
           var caracter = e;
           

           if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3,4})+$/.test(controlId)) 
           {
               $('#' + controlId).text("El correo esta mal escrito");
               $('#' + controlId).css({ "color": "red" });
               return false;
           }
           else 
           {
               $('#' + controlId).text("");
               return true;
           }
            }
</script>

<script type="text/javascript">
function Correo2(inputtxt,controlId) {
    var letters = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3,4})+$/;
    if (!controlId.value.match(letters)) 
    {

       $('#' + controlId).text("El correo esta mal escrito");
               $('#' + controlId).css({ "color": "red" });
               return false;
    }  
      else 
           {
               $('#' + controlId).text("");
               return true;
           } 
}
</script>
}



